table {
    border: 4px solid rgb(63, 26, 90);
    width: 100%;
    border-radius: 5%;
}

td {
    background-color: rgb(35, 35, 114);
    color: azure;
    text-align: center;
    height: 50px;
    border: 4px solid black;
    border-radius: 5%;
}
.esc{
    border-top-left-radius: 20px;
}
.folder{
    border-top-right-radius: 20px;
}
.fn{
    border-bottom-left-radius: 20px;
}
.ent{
    border-bottom-right-radius: 20px;
}